@import '../../utils/variables';

.custom-button {
  background-color: $dark-gray;
  border-radius: 6px;
  border: 0;
  color: $off-white;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  outline: 0;
  padding: 12px 20px;
  text-transform: uppercase;

  &:hover {
    background-color: $light-burgundy-hover;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #357ae8;
    }
  }
  
}
