@import '../../utils/variables';

.product-item {
  background-color: $off-white;
  color: #444444;
  font-size: 14px;
  padding: $gutter;
  text-align: center;

  .product-item-image {
    height: 160px;
    margin-bottom: $half-gutter;
  }

  .product-item-text {
    margin-bottom: $half-gutter;
    min-height: 36px;
  }

  .product-item-price {
    color: $dark-burgundy;
    font-size: 24px;
    margin-bottom: $half-gutter;
  }
}