// colors
$dark-burgundy: #7A0A22;
$dark-gray: #2B2E31;
$light-burgundy: #B62A46;
$light-burgundy-hover: #E0254B;
$light-gray: #DADADA;
$off-white: #FEFEFE;

// measurements
$gutter: 20px;
$half-gutter: 12px;
$page-width: 960px;