// colors
$dark-burgundy: #7a0a22;
$dark-gray: #2b2e31;
$light-burgundy: #B62A46;
$light-gray: #dadada;
$off-white: #fefefe;

// measurements
$gutter: 20px;
$half-gutter: 12px;
$page-width: 960px;

.homepage {
  .banner {
    background: url(./images/banner.png) no-repeat center top;
    background-size: cover;
    height: 450px;

    .banner-content {
      color: #fff;
      display: grid;
      grid-template-columns: 1fr 2fr;
      margin: 0 auto;
      padding-top: $half-gutter;
      width: $page-width;

      display: none; // TEMPORARY OFF UNTIL NAV IS READY

      .logo {
        background-color: yellow;
      }

      .navigation {
        background-color: lime;
        text-align: right;
      }
    }
  }

  .homepage-content {
    background-image: linear-gradient($light-gray, $off-white);

    .homepage-callouts {
      display: grid;
      grid-gap: $gutter;
      grid-template-columns: repeat(3, 1fr);
      margin: 0 auto $gutter;
      width: $page-width;

      .homepage-callout {
        background-color: $dark-gray;
        padding: $gutter;
        color: $off-white;
        height: 200px;
        margin-top: -60px;
        padding-left: 100px;
        position: relative;

        .callout-image {
          position: absolute;
          bottom: 0;
          left: 20px;
          width: 63px;
          height: 238px;
        }

        h2 {
          font-size: 24px;
          margin: 0;
          margin-bottom: 12px;
          font-weight: normal;
          text-transform: uppercase;
        }

        .callout-text {
          font-size: 14px;
          line-height: 1.3em;
          margin-bottom: 10px;
        }

        .callout-link {
          cursor: pointer;
          font-size: 16px;
          text-align: right;
          text-transform: uppercase;
          color: $light-burgundy;
        }
      }
    }

    .homepage-deals {
      display: grid;
      grid-gap: $gutter;
      grid-template-columns: repeat(4, 1fr);
      margin: 0 auto $gutter;
      width: $page-width;

      .homepage-deal {
        background-color: $off-white;
        color: #444444;
        font-size: 14px;
        padding: $gutter;
        text-align: center;

        .deal-image {
          height: 160px;
          margin-bottom: $half-gutter;
        }

        .deal-text {
          margin-bottom: $half-gutter;
        }

        .deal-price {
          color: $dark-burgundy;
          font-size: 24px;
          margin-bottom: $half-gutter;
        }

        button {
          background-color: $dark-gray;
          border-radius: 6px;
          border: 0;
          color: $off-white;
          cursor: pointer;
          font-size: 13px;
          font-weight: bold;
          outline: 0;
          padding: 6px 20px;
          text-transform: uppercase;

          &:active {
            background-color: $light-burgundy;
          }
        }
      }
    }
  }
}